@import 'breakpoint';

.board-wrapper {
  @include breakpoint('tiny') {
    height: 100%;
    margin: 0;
    width: 100%;
  }

  @include breakpoint('small') {
    height: 375px;
    margin: 0 auto;
    width: 375px;
  }

  @include breakpoint('medium') {
    margin: 0 25%;
    min-width: 500px;
    width: auto;
  }

  @include breakpoint('large') {
    height: auto;
    margin: 20px 20%;
    width: 800px;
  }
}

.board-line {
  @include breakpoint('tiny') {
    padding: 5px 10px;
  }

  @include breakpoint('small') {
    margin: 0 5%;
  }

  @include breakpoint('large') {
    margin: 0 auto;
    padding: 5px 0;
  }
}


.game-cell {
  @include breakpoint('medium') {
    height: 150px;
    padding: 15px;
    width: 150px;
  }

  @include breakpoint('large') {
    height: 200px;
    padding: 20px;
    width: 200px;

  }

  p {
    @include breakpoint('medium') {
      font-size: 75px;
    }

    @include breakpoint('large') {
      font-size: 100px;
    }
  }
}
