.board-wrapper {
  width: calc(32vw);
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
}

.intro-text {
  box-sizing: border-box;
  margin: 0 35%;
  max-width: 660px;
  // width: 30vmin;
  margin-top: 5%;
  max-height: 660px;
  padding: 10%;
}

.game-cell {
  height: calc(10vw);
  flex: 1;
  width: calc(10vw);
  box-sizing: border-box;
  margin: 3px;
  // padding: 20px;
  text-align: center;

  p {
    font-size: 5em;
  }
}

.clearfix {
  overflow: auto;
}

// .navbar-right {
//   margin: 10px;
// }

h1,
h2,
h3 {
  text-align: center;
}

.game-status-banner {
  margin: 0 auto;

  .alert.display-error {
    margin: 0 auto;
    text-align: center;
    width: 60%;
  }
}

.navbar {
  border: 0;
  min-height: 50px;
  // position: absolute;
  // right: 0;
  // top: 0;

  .btn-header {
    float: right;
    margin: 1px;
  }
}

.main-header {
  margin-top: 10%;
  user-select: none;
}

.win-totals-bottom {
  margin-top: -15px;
}

.main-container {
  min-height: 470px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.winner {
  margin-top: 15%;
}

.modal-dialog {
  margin: 10px auto;
  width: 90%;
}
