//TODO: add different game cell sizes for different breakpoints

.navbar .btn-header {
  background-color: $cranberry;
  border: 0;
  color: $white;

  &:hover {
    background-color: $cream;
    color: $navy;
  }
}
