.board-wrapper {
  // border: 5px solid $black;
  margin: 0 25%;
  box-sizing: border-box;
  width: 645px;
}

.board-line {
  box-sizing: border-box;
  border: 2px dotted blue;
  padding: 5px;
  width: 95%;
  margin: 0px;
}

.game-cell {
  float: left;
  border: 1px solid red;
  height: 200px;
  width: 200px;
  box-sizing: border-box;
  text-align: center;
  margin: 0;
}

.clearfix {
  overflow: auto;
}
