@import 'colors';
@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji');
@import url('https://fonts.googleapis.com/css?family=Farsan');
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
@import url('https://fonts.googleapis.com/css?family=Bungee');

// font variables
$baloo: 'Baloo Paaji', cursive;
$farsan: 'Farsan', sans-serif;
$bungee-fancy: 'Bungee Shade', cursive;
$bungee-plain: 'Bungee', cursive;

// mixins
@mixin text-shadow($opacity) {
  text-shadow: black($opacity) 0 1px 0;
}


//styling
.game-cell {
  // x's and o's
  p {
    font-family: $bungee-fancy;
  }
}

h2,
h3 {
  // title and subhead
  font-family: $bungee-plain;
}

h2 {
  font-size: 45px;
}

h1 {
  // title only
  font-family: $bungee-fancy;
  font-size: 4em;
  font-weight: 900;
  letter-spacing: .2em;
};
